<!DOCTYPE html>
<html>
  <head>
    <style>
    .code {
      background: #171717;
      border-radius: 5px;
      color: white;
      margin-bottom: 15px;
      word-break: break-word;
      overflow-wrap: break-word;
      font-family: Monaco, courier;
      font-size: 12px;
      line-height: 20px;
      padding: 15px 0;
    }

    .term-l {
      padding: 0 15px 0 18px;
      word-break: break-all;
      white-space: pre-wrap;
    }

    .term-l:hover {
      background: #3e3e3e;
    }

    /* yellow */
    .term-c33 {
      color: #c6c502;
    }

    /* green */
    .term-c32 {
      color: #00bd02;
    }

    /* intense green */
    .term-c1 {
      color: #5ef765;
    }

    /* red */
    .term-c31 {
      color: #e10c02;
    }

    /* blue */
    .term-c34 {
      color: #8db7e0;
    }

    /* magent */
    .term-c35 {
      color: #ceacde;
    }

    /* cyan */
    .term-c36 {
      color: #00cdd9;
    }

    /* black (but we can't use black, so a diff color) */
    .term-c30 {
      color: #666;
    }

    /* grey */
    .term-c90 {
      color: #838887;
    }

    body {
      margin: 0;
      padding: 20px;
    }

    .controls {
      margin-bottom: 5px;
    }

    a {
      font-family: Arial, sans-serif;
      font-size: 13px;
    }

    .raw {
      padding: 15px;
      white-space: pre;
    }
    </style>
    <script>
      function toggle(element) {
        element.style.display = element.style.display === 'none' ? '' : 'none'
      }

      function switchViews() {
        toggle(document.getElementById('rendered'));
        toggle(document.getElementById('raw'));
      }
    </script>
  </head>
  <body>
    <div id="rendered" class="preview">
      <div class="controls"><a href="#" onclick="switchViews(); return false">Show Raw Output</a></div>
      <div class="code"><%= rendered %></div>
    </div>
    <div id="raw" class="preview" style="display: none">
      <div class="controls"><a href="#" onclick="switchViews(); return false">Show Rendered Output</a></div>
      <div class="code raw"><%= raw %></div>
    </div>
  </body>
</html>
