.c33 { color: #c6c502; }
.c32 { color: #00bd02; }
.c1  { color: #5ef765; }
.c31 { color: #e10c02; }
.c34 { color: #8db7e0; }
.c35 { color: #ceacde; }
.c36 { color: #00cdd9; }
.c30 { color: #666; }
.c90 { color: #838887; }

* {
  box-sizing: border-box;
}

:root {
  font: 14px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
  max-width: 85em;
  padding: 4vw 2vw;
  margin: 0 auto;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid currentColor;
}

header img {
  width: 100%;
}

section {
  margin: 15px 0;
}

.code {
  font: 18px/1.75 Monaco, monospace;
  background: #171717;
  border-radius: 8px;
  color: white;
  padding: 30px;
}

.code p {
  margin: 0;
}

.code pre {
  margin: 0;
  padding: 0;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.intro {
  font-size: 28px;
  line-height: 1.6;
}

.example .code {
  font-size: 12px;
  margin: 0;
}
.example .code.before::before, .example .code.after::before {
  display: block;
  color: rgb(80,80,80);
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
}
.example .code.before::before {
  content: 'Raw shell output';
}
.example .code.after::before {
  content: 'Rendered HTML';
}
.example .code.before {
  border-bottom: 1px solid rgb(40,40,40);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.example .code.after {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media only screen and (min-width: 50em) {
  .example {
    display: flex;
    flex-direction: row;
  }
  .example .code {
    flex: 1;
  }
  .example .code.before {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(40,40,40);
  }
  .example .code.after {
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


footer {
  margin-top: 4vw;
  color: rgb(180,180,180);
  text-align: center;
}

footer p {
  display: inline-block;
}

footer a {
  display: block;
  font-weight: bold;
  font-size: 32px;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

footer a:hover {
  color: rgb(120,120,120);
  border-bottom: none;
}
